@tailwind base;
@tailwind components;
@tailwind utilities;

#tasklist::-webkit-scrollbar {
  background: transparent;
}

#tasklist {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
